body, html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  font-family: sans-serif;
}

.canvas {
  height: 100vh;
  display: inline-block;
  padding: 20px 0 15px;
  box-sizing: border-box;
}

.main {
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.alive-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 0 25px;
  width: 100%;
  max-width: 100%;
  height: 48px;
  font-size: 16px;
  line-height: 44px;
  background-color: #fee6e3;
  color: black;
  border: 2px solid #111;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  position: relative;
}

.alive-option:hover, .choice:hover {
  outline: 0;
}

.alive-option:hover:after, .choice:hover:after {
  transform: translate(0, 0);
}

.alive-option:active {
  background-color: #ffdeda;
  outline: 0;
}

@media (min-width: 768px) {
  .alive-option {
    padding: 0 40px;
  }
}

.alive-option.selected {
  background-color: #331;
  color: white;
}

.alive {
  margin-bottom: 10px;
}

.header-text {
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}

.controls {
  position: absolute;
  width: 20%;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  background: hotpink;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 30px;
  box-sizing: border-box;
}

.controls > * {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  margin: 30px 0;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.images {
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
  gap: 50px;
}

.images img {
  height: 200px;
  width: auto;
}


.hidden{
  display: none;
}